body{
	width: 100%;
	height: 100%;
	position: absolute;
	color: #312f2f;
}

.body-c-1 {
	background: #ff9800 url("../img/overlay.png");
}

.p-style {
	font-family: "Teko";
	font-size: 3em;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 1px;
	color: #312f2f;
}

.btn-outline {
	border: 2px solid;
	background-color: transparent !important;
	color: #000;
}

input[type=text],input[type=password],input[type=email] {
	border-bottom: 1px solid #312f2f !important;
}

.label-black {
	color: #312f2f !important;
}

.select-wrapper input.select-dropdown {
	border-bottom: 1px solid #312f2f;
}

label {
	color: #312f2f;
}

.divider {
    background-color: #312f2f;
}

.header-orange {
	background: #ff9800 url("../img/overlay.png");
}